<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit backupGlobals="false"
         colors="true">
    <testsuites>
        <testsuite name="query builder unit tests">
            <directory>tests/builder/</directory>
            <directory>tests/comparison/</directory>
            <directory>tests/factory/</directory>
            <directory>tests/expression/</directory>
            <directory>tests/functions/</directory>
            <directory>tests/model/</directory>
        </testsuite>
        <testsuite name="query builder functional tests">
            <file>tests/MysqliFunctionalQueryBuilderTest.php</file>
            <file>tests/PdoFunctionalQueryBuilderTest.php</file>
            <file>tests/ExpressionFunctionalTest.php</file>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="coverage.txt" lowUpperBound="35"
             highLowerBound="70"/>
    </logging>
    <filter>
        <whitelist>
            <directory>*</directory>
            <exclude>
                <directory suffix=".php">tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
